body {
    background-color: #000;
}

h1 {
    color: #ff0000;
    font-size: 24px;
    text-align: center;
    border-top: dashed 3px #fff;
    border-bottom: dashed 3px #fff;
}

p {
    color: #fff;
    font-size: 16px;
}

a {
    font-size: 16px;
}